openapi: 3.2.0
info:
  title: Phones Call API
  version: 2021.04.01
servers:
- url: https://api.podium.com
  variables: {}
security: []
tags:
- name: Call
paths:
  /v4/calls/{uid}:
    get:
      callbacks: {}
      description: 'Gets a call by UID.


        Required scope: `read_phones`.'
      operationId: call.get
      parameters:
      - description: Podium unique identifier for call.
        in: path
        name: uid
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/call'
                  metadata:
                    description: Additional response data.
                    properties:
                      url:
                        description: The resource URL.
                        example: https://www.podium.com/
                        type: string
                    type: object
                type: object
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Podium code for the error.
                    type: integer
                  message:
                    description: Specific details about the error.
                    type:
                    - string
                    - 'null'
                  moreInfo:
                    description: URL providing more information about the error.
                    type: string
                title: Error
                type: object
          description: Error response.
      summary: Get a call.
      tags:
      - Call
components:
  schemas:
    call:
      description: A phone call.
      properties:
        conversationUid:
          description: Podium unique identifier for conversation.
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type:
          - string
          - 'null'
        customerPhoneNumber:
          description: The customer's phone number.
          example: '+18017580580'
          type:
          - string
          - 'null'
        direction:
          description: Whether the call was initiated by the customer (inbound) or the location (outbound).
          enum:
          - inbound
          - outbound
          type:
          - string
          - 'null'
        durationSeconds:
          description: Total call duration in seconds, including ring time.
          example: 134
          type:
          - integer
          - 'null'
        endedAt:
          description: When the call ended.
          example: '2015-01-23T23:50:07Z'
          format: date-time
          type:
          - string
          - 'null'
        hasVoicemail:
          description: Whether a voicemail recording was left.
          type:
          - boolean
          - 'null'
        isPrivate:
          description: Whether the call was placed from a private number.
          type:
          - boolean
          - 'null'
        locationPhoneNumber:
          description: The Podium location's phone number.
          example: '+18017580580'
          type:
          - string
          - 'null'
        locationUid:
          description: Podium unique identifier for location.
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type:
          - string
          - 'null'
        organizationUid:
          description: Podium unique identifier for organization.
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type:
          - string
          - 'null'
        startedAt:
          description: When the call began.
          example: '2015-01-23T23:50:07Z'
          format: date-time
          type:
          - string
          - 'null'
        status:
          description: Current or final state of the call.
          enum:
          - abandoned
          - active
          - answered
          - blocked
          - busy
          - canceled
          - completed
          - continue_forward_to_pstn
          - continue_forward_to_softphone
          - dialing_out
          - directed_to_audio_file
          - directed_to_voicemail
          - forwarded
          - incoming
          - internal_call
          - missed_call
          - no_answer
          - prompt_to_text
          type:
          - string
          - 'null'
        uid:
          description: Podium unique identifier for call.
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        userUid:
          description: UID of the user who handled the call, if any.
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type:
          - string
          - 'null'
      title: call
      type: object
