openapi: 3.2.0
info:
  title: Payments Reader API
  version: 2021.04.01
servers:
- url: https://api.podium.com
  variables: {}
security: []
tags:
- name: Reader
paths:
  /v4/readers/{uid}:
    get:
      callbacks: {}
      description: 'Gets a single card reader by its uid.


        Required scope: `read_payments`.'
      operationId: reader.get
      parameters:
      - description: Podium unique identifier for reader.
        in: path
        name: uid
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/reader'
                  metadata:
                    description: Additional response data.
                    properties:
                      url:
                        description: The resource URL.
                        example: https://www.podium.com/
                        type: string
                    type: object
                type: object
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Podium code for the error.
                    type: integer
                  message:
                    description: Specific details about the error.
                    type:
                    - string
                    - 'null'
                  moreInfo:
                    description: URL providing more information about the error.
                    type: string
                title: Error
                type: object
          description: Error response.
      summary: Get a card reader.
      tags:
      - Reader
components:
  schemas:
    reader:
      properties:
        createdAt:
          description: When the card reader was created.
          example: '2015-01-23T23:50:07Z'
          format: date-time
          type:
          - string
          - 'null'
        label:
          description: The label assigned to the card reader.
          type:
          - string
          - 'null'
        locationUid:
          description: Podium unique identifier for location.
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        status:
          description: Current status of the card reader.
          enum:
          - active
          - disabled
          - removed
          type:
          - string
          - 'null'
        uid:
          description: Podium unique identifier for reader.
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        updatedAt:
          description: When the card reader was updated.
          example: '2015-01-23T23:50:07Z'
          format: date-time
          type:
          - string
          - 'null'
      title: reader
      type: object
